.uuz-box {
    background-color: white;
}


.uuz-box .header {
    border-bottom: #f2f2f2 1px solid;
    border-top: #448AFF 3px solid;
}

.uuz-box .header .title {
    padding-left: 8px;
    padding-bottom: 6px;
    padding-top: 4px;

    font-size: 22px;
}


.uuz-box .body {
    color: #161616;
    padding: 12px 8px 16px 8px;
}

.uuz-box .body p {
    margin-bottom: 4px;
}
